{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>Call for Papers Talk Ideas</h2>
    <p>
		{{ site.title }} usually showcases:
	</p>
	<ul>
		<li>APIs (REST, SOAP, etc.)
		<li>Architectures
		<li>Continuous Delivery
		<li>Databases
		<li>Development
		<li>Devops
		<li>Frameworks
		<li>Internals
		<li>PHP 7.x / PHP 8
		<li>Security
		<li>Testing
		<li>UI/UX
	</ul>
	<p>But this is just an example. Feel free to impress us!</p>
</div>
{% endblock %}

