{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>Call for Papers Talk Ideas</h2>
    <p>
        {{ site.title }} usually showcases:
		<ul>
			<li>Automation (Webpack, Rollout, Lerna, etc.)
			<li>Testing (Browser debugging & testing, jest, mocha, etc.)
			<li>Desktop & mobile applications
			<li>ECMA Next
			<li>Framewors (react, vue, angular, express, hapi, nodal, etc.)
			<li>HTML5 stuff
			<li>IoT (issues at scale, johnny-five, cylon, iotjs, etc.)
			<li>NodeJS, npm, streams, etc
			<li>Performance
			<li>Videogames
			<li>Workers
			<li>Webrtc (video & audio)
			<li>Languages compiling to JS
			<li>Type Systems (Typescript, flow)
		</ul>
    </p>
	<p>But this is just an example. Feel free to impress us!</p>
</div>
{% endblock %}

