{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>{{ site.title }} Speaker Information</h2>
    <p>
        {{ site.title }} is an international conference and all sessions will be in English, please consider that when submitting
        your proposals.
    </p>
    <p>
        Are you planning to submit multiple proposals? That's great! But please choose what you think are the best 3
        options, and make sure the abstract goes straight to the point :)
    </p>
    <h3>🤩 Why you should propose a talk:</h3>
    <ul>
        <li>test yourself on topics you know well;</li>
        <li>learn something new while preparing your presentation;</li>
        <li>make yourself known in the community;</li>
        <li>learn new things by attending the conference and draw inspiration!</li>
    </ul>
    <h3>📦 What we offer to selected speakers:</h3>
    <ul>
        <li>conference ticket;</li>
        <li>access to all of our 2021 digital conferences;</li>
        <li>ree bronze sponsorship for your company (or same amount discount if you upgrade to an higher sponsorship
            level).</li>
    </ul>
    <h3>🔎 How the conference works:</h3>
    <p>
        You can decide whether to present your talk live or to record it in advance. In any case, we will offer you all
        the technical support you will need!<br>
        Each session includes a short live introduction, your presentation (30 or 45 minutes), the Q&A (about 15 minutes).
        The conference will be accessible only to registered (paid) attendees and will be held on a platform that integrates:
    </p>
    <ul>
        <li>the (virtual) stage, with the live video streaming;</li>
        <li>public and private chat and video-conference rooms;</li>
        <li>expo spaces for sponsors and partners.</li>
    </ul>
    <p>
        We've run several digital events and proved that they can be very engaging, people have been interacting
        actively and making connections.
        We don't want the virtual conference to just be a flow of content that people watch passively. We want to create
        a good user experience, obviously different from an in-person event, but likewise engaging, inclusive, and interactive.
    </p>
</div>
{% endblock %}
